@model Kaki[]

@{
    ViewData["Title"] = "Вот ваши каки!";
}

<h1>Вот ваши каки!</h1>

@if (Model.Length == 0)
{
    <p>Какашек нет! Уходи!</p>
}
else
{
        <ul>
        @foreach (var kaki in Model)
        {
                <li><a href="@Url.Action("Index", "Kaki", new { id = kaki.Id})">@kaki.Title</a></li>
        }
        </ul>
}
