@model ErrorViewModel
@{
    ViewData["Title"] = "Ошибка! Вы сделали что-то говняное";
}

<h1 class="text-danger">Ошибка! Вы сделали что-то говняное</h1>
<h2 class="text-danger">Тут продают какашки, а не делают их! Если хотите сотрудничать, напишите нам...Мы подумаем...</h2>


@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}


